.about-container {
    padding-top: 5rem;
}

.about-container,
.about-paragraphs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-images-container img {
    border-radius: .8rem;
    width: auto;
    transition: all .3s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.about-images-container img:hover {
    transform: scale(1.05);
    transition: all .3s ease;
}

.about-paragraphs-container {
    padding-inline: 25%;
}

.about-paragraphs-container h1 {
    background: linear-gradient(90deg, rgba(94, 94, 99, 1) 0%, rgba(76, 76, 147, 1) 58%, rgba(25, 144, 168, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.about-container p {
    font-size: 1.2rem;
}

.about-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#june {
    height: 20rem;
    margin: 0 -.2rem;
    filter: brightness(1.4);
}

#manaliso {
    z-index: 1;
    height: 29rem;
}

#climbing {
    height: 20rem;
    margin: 0 -1.5rem;
    filter: brightness(1.1);
}

@media only screen and (max-width: 600px) {

    .about-container {
        padding-top: 2rem;
        text-align: center;
    }

    .about-images-container {
        flex-direction: column;
    }

    .about-paragraphs-container {
        padding-inline: 2rem;
    }

    #manaliso {
        padding-inline: 1rem;
        width: 90%;
        height: auto;
        box-shadow: none;
    }

    #june,
    #climbing {
        display: none;
    }
}