.project-container,
.project-images,
.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 2rem;
}

.project-cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cover-container img {
    width: 60%;
}

.project-paragraph-container h3 {
    font-family: 'InterRegular';
    color: #1990a8;
    font-size: 1.5rem;
}

.project-paragraph-container p {
    font-size: 1.1rem;
}

.project-images {
    padding-top: 2rem;
}

.project-images img,
.video-container video {
    width: 80%;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.video-container video{
    border-radius: .5rem;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}