.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-paragraph-container h3 {
    font-family:'InterRegular';
    color: #1990a8;
}