.project-container,
.project-images,
.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 2rem;
}

.project-cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
    gap: 2rem;
}

.project-details-container, .project-details-header-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-details-header-container p {
    margin-block: 0;
}

.project-details-container {
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.project-details-tech-container {
    font-family: 'InterRegular';
}

.project-paragraph-container {
    padding-inline: 25%;
}

.project-brief-container, .project-summary-container {
    border-radius: .5rem;
    padding-block: 1rem;
    padding-inline: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-summary-container {
    margin: 0;
    padding-bottom: 0;
}

.project-brief-container p {
    font-size: 1rem;
}

.project-cover-container img {
    width: 35%;
    filter: brightness(1.2);
    border-radius: .8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-paragraph-container h3, .project-brief-container h3, .project-summary-container h3 {
    font-family: 'InterRegular';
    color: #1990a8;
    font-size: 1.5rem;
}

.project-paragraph-container p, .project-summary-container p {
    font-size: 1.1rem;
}

.project-images {
    padding-top: 2rem;
}

.project-images img,
.video-container video {
    width: 80%;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.video-container video{
    border-radius: .5rem;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}