.nav-container {
    display: flex;
    min-height: 10%;
    padding-block: 1rem;
    user-select: none;
    z-index: 99;
    width: 100%;
}

.nav-element-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'InterMedium';
    font-size: 1.1rem;
    width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
}

.page-link-element,
.locale-toggle-container {
    cursor: pointer;
    transition: all .2s ease;
    min-width: 6rem;
    height: 5rem;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page-link-element:hover,
.locale-toggle-container:hover {
    transition: all .2s ease;
    transform: scale(.96);
}

.locale-toggle-container,
.page-link-element {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 1.5rem;
    padding-inline: .8rem;
    background-color: #fff;
}

.locale-toggle-container img {
    width: 23%;
    padding: .2rem;
}

.locale-toggle-container p {
    padding-inline: .5rem;
    font-size: 1.1rem;
    font-family: 'InterMedium';
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #5e5e63;
}


@media only screen and (max-width: 600px) {
    .nav-element-container {
        position: fixed;
        left: -100%;
        transition: .3s;
        flex-direction: column;
        gap: 5rem;
        justify-content: flex-start;
        background-color: rgba(25, 144, 168, .4);
        height: 100%;
        padding-top: 5rem;
    }

    .nav-element-container.active {
        left:0;
    }

    .hamburger-menu {
        display: block;
        position: fixed;
        right: 10%;
        top: 10%;
    }

    .hamburger-menu.active .bar {
        background-color: #fff;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    
}