.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:5rem;
    padding-bottom: 3rem;
}

.hero-container h1 {
    font-size: 6rem;
    margin: 0;
    background: linear-gradient(90deg, rgba(94,94,99,1) 0%, rgba(76,76,147,1) 58%, rgba(25,144,168,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.hero-container img {
    height: 1.5rem;
    width: 1.5rem;
}

.hero-container p {
    text-align: center;
}