.project-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    transition: all .2s ease;
    background-color: #eceff1;
    gap: .5rem;
    padding-block: 5rem;
}

.project-card-image-container button {
    width: 12rem;
    font-family: 'InterRegular', 'sans-serif';
    font-size: 1.2rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    padding-inline: 1rem;
    padding-block: 1rem;
    color: #5e5e63;
    transition: all .2s ease;
}

.project-card-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-7rem);
    gap: 2rem;
    z-index: 1;
}

.project-card-image-container {
    transition: all .2s ease;
}

.project-card-image-container:hover,
.project-card-image-container button:hover {
    transform: scale(1.03);
    transition: all .2s ease;
    cursor: pointer;
}

.project-card-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
    transition: all .2s ease;
}

.dropshadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all .2s ease;
}

@media only screen and (max-width: 600px) {
    .project-card-image-container button {
        width: 6rem;
        font-size: .5rem;
        padding-block: .5rem;
    }

    .project-card-button-container {
        transform: translateY(-3rem);
        gap: 1rem;
    }
}